/* ***** RESET ***** */
img {
    max-width: 100%;
}

/* ***** GENERAL ***** */
body {
    background-color: #1B2A41!important;
}

/* ***** HEADER ***** */
header {
    background-color: #8DDCA4;
}

.ms_container {
    width: 50%;
    margin: 0 auto;
}

/* ***** MAIN ***** */
/* Card */
.card-body {
    background-color: #93BEDF;
}